.component-header{
    background-color: #263D42;
    color: #CCDBDC;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0px 10px 20px;
    padding: 10px 0px;
  }